version: '3.8'

services:
  web:
    image: php:5.6.40-apache
    container_name: php56_task
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    extra_hosts:
      - "task.local:127.0.0.1"
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html
    command: bash -c "docker-php-ext-install mysqli pdo pdo_mysql && apache2-foreground"

  db:
    image: mysql:5.5
    container_name: mysql55_task
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: taskdb
      MYSQL_USER: taskuser
      MYSQL_PASSWORD: taskpass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_task
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
